* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.scroll-fix::before {
    display: block;
    margin-top: -20rem;
    height: 20rem;
    content: "";
}

.about {
    text-transform: uppercase;

}

/* HEADER */
#main-header {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('./img/el-paso.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.hero-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

/* nav */
nav a {
    text-transform: uppercase;
}

/* about us */
#aboutus p {
    text-align: justify;
}

#aboutus a {
    font-size: 2rem;
    text-transform: uppercase;
}



#aboutus img {
    height: 22rem;
    overflow: hidden;
}

#aboutus .carousel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* price */
#price {
    background-color: rgba(0, 0, 0, .09);
}

#price .price-card {
    height: 50rem;
    transition: transform .5s;
}

#price .price-card:hover {
    transform: scale(110%);
}

.price-card h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.price-card i {
    font-size: 4rem;
    font-weight: bold;
}

.price-card .btn {
    padding: 1rem 2.6rem;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: #6C757D;
    color: white;
    transition: background-color .5s;
}

.price-card .btn:hover {
    background-color: #0D6EFD;

}

/* contact */
#contact h2 {
    font-size: 3rem;
    font-weight: bold;
}

#contact input,
#contact select,
#contact option,
#contact textarea {
    font-size: 1.8rem;
}

#contact button {
    font-size: 1.6rem;
}

@media(min-width: 992px) {
    #main-header {
        background-image: url('./img/el-paso-B.jpg');
    }

    .scroll-fix::before {
        display: block;
        margin-top: -3rem;
        height: 3rem;
        content: "";
    }
}